div.component-wrapper
    div.component-link-container
        a(ui-sref="testComponent.testHttp") 进行http连接测试
        br
        a(ui-sref="testComponent.testCrud") 进行增删改查测试
        br
        a(ui-sref='testComponent.testGroupNewModal') 显示创建新group框


    div.component-view-container
        ui-view

