div(ng-controller='productList')
    .panel(class='panel-default')
        .panel-heading
            div
                h3(style="display:inline-block") Categories
                button.btn.btn-default.pull-right(type='button' ng-click="addNewCategory()") add category

            legend
            .btn-group
                button.btn.btn-default(ng-repeat="x in categories") {{x.name}}

        .panel-body
            div
                h3(style="display:inline-block")  Products
                button.btn.btn-default.pull-right(type='button' ng-click="addNewProduct()") add by file
                button.btn.btn-default.pull-right(type='button' ng-click="addNewProduct()") add

            table.table(class=' table-hover' ng-table="customerListTableParams" show-filter="true" autocomplete="off" )
                tbody
                    tr(ng-repeat="item in $data")
                        td(ng-cloak="" title=" 'image' ")
                            img(alt='' ng-src="{{item.imagePath}}" style="height:100px")
                        td(ng-cloak="" title=" 'name' ", sortable=" 'name' "  filter="{name:'text'}" ) {{item.name}}
                        td(ng-cloak="" title=" 'available amount' "   sortable=" 'count' "   filter=" {count:'text'} ") {{item.count}}
                        td(ng-cloak="" title=" 'production date' "   sortable=" 'productionDate' "   filter=" {productionDate:'text'} ") {{item.productionDate|date:"yyyy-MM-dd"}}
                        td(ng-cloak="" title=" 'bad date' "   sortable=" 'badDate' "   filter=" {badDate:'text'} ") {{item.badDate|date:"yyyy-MM-dd"}}
                        td(ng-cloak="" title=" 'operation' ")
                            .btn-group.pull-right
                                button.btn.btn-default(type='button' ng-click="addNewProduct(item);customerListTableParams.reload() ") edit
                                button.btn.btn-default(type='button' ng-click="deleteproducts(item.id);customerListTableParams.reload() ") delete