div.container-fluid(ng-controller="statistics")
    .panel(class='panel-default')
        .panel-body
            div.form-group
                select.form-control.inline-block(ng-options="x for x in figureOption" ng-model="currentFigureOption" style="width:200px")
                select.form-control.pull-right.inline-block(ng-options="op for op in timeCycleOption" ng-model="currentTimeCycle" style="width:200px")
    div#main.container-fluid(style="height:80%")
    div(style="height:40%;width:50%;display:inline-block"  id="{{b.branchGroup.name}}" ng-repeat="b in branchGroupFoodSellingCash"  ng-if="currentFigureOption==figureOption[2]" )
    div(style="height:40%;width:50%;display:inline-block"  id="{{b.branchGroup.name}}" ng-repeat="b in branchGroupFoodSellingCountList"  ng-if="currentFigureOption==figureOption[3]" )

