doctype html
html(lang='en')
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        // <meta http-equiv="X-Frame-Options" content="ALLOW-FROM http://127.0.0.1:8088/LearnWeb">
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', href='/WInt/dist/img/favico.ico', type='image/x-icon')
        link(rel='stylesheet', href='/WInt/dist/app/lib.css')
        link(rel='stylesheet', href='/WInt/dist/app/app.css')
        script(src='/WInt/dist/app/lib.js')
        script(src='/WInt/dist/app/app.js')
    body
        .logInContent(ng-controller='logIn')
            form(autocomplete='off')
                legend(ng-cloak='') Log In
                .form-groupEdit
                    input(type='text', style='display:none')
                    input.form-control(ng-cloak='', type='text', name='account', placeholder="account...", autocomplete='off' ng-model="account")
                    br
                    input(type='password', style='display:none')
                    input.form-control(type='password', ng-cloak='', name='password', placeholder="password...", autocomplete='new-password'
                    ng-model="password")
                    br
                    button.btn.btn-danger.btn-block(ng-cloak='' ng-click="logIn()") Log In