.modal-content
    .modal-body
        form(action='', method='post', role='form')
            legend Branch Office
            .form-group
                label(for='name') name
                input.form-control(type='text', name='name', id='name', placeholder='Input...' ng-model="branchGroup.name")
            .form-group
                label(for='description') description
                input.form-control(type='text', name='description', id='description', placeholder='Input...'  ng-model="branchGroup.description" )
            .form-group
                label(for='address') address
                input.form-control(type='text', name='address', id='address', placeholder='Input...'  ng-model="branchGroup.address" )
    .modal-footer
        button.btn.btn-default(type='button', ng-click="closeModal()") Close
        button.btn.btn-primary(type='button' ng-click="clickYes()") Yes
